@model MusicCityAnimalRescueManagement.Models.Animals.Medication

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Medication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isFleaTick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isFleaTick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isHeartworm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isHeartworm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isForCats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isForCats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isForDogs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isForDogs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDewormer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDewormer)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.isMicrochipManufacturer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
