@model IEnumerable<MusicCityAnimalRescueManagement.Models.AccountEntries.ExpenseEntry>

@Styles.Render("~/Content/dataTables")


<h2>Expense Entries</h2>

<p>
    @Html.ActionLink("Create New Expense Entry", "CreateExpense")
</p>
@*<table class="table">*@
<table class="table" id="ExpenseEntries">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrAccountType.AccountTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliesDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliesComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VetBillsDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VetBillsComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurancePremiumsDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurancePremiumsComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FosterReimbursementDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FosterReimbursementComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscellaneousExpenseDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscellaneousExpenseComment)
            </th>
            <th>
                Action
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="9" style="text-align:right">Total:</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.Id)
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrAccountType.AccountTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuppliesDecimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuppliesComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VetBillsDecimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VetBillsComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineDecimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsurancePremiumsDecimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsurancePremiumsComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FosterReimbursementDecimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FosterReimbursementComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiscellaneousExpenseDecimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiscellaneousExpenseComment)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditExpense", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailsExpense", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteExpense", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts
{
    @Scripts.Render("~/bundles/dataTables")

    <script>
        $('#ExpenseEntries').DataTable({
            drawCallback: function () {
                var api = this.api();
                $(api.table().footer()).html(
                  api.column(4, { page: 'current' }).data().sum()
                );
            }
        });
    </script>
}

    @*<script>
        $(document).ready(function () {
            $('#ExpenseEntries').DataTable({
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(()/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    if ( api.column( 4 ).data().length )
                    {
                        total = api
                            .column(4)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total over this page
                        pageTotal = api
                            .column(4, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Update footer
                        $(api.column(4).footer()).html(
                            '$' + pageTotal + ' ( $' + total + ' total)'
                        );
                    }
                }
            });
        });
        </script>*@
}







@*@section scripts
{
    @Scripts.Render("~/bundles/dataTables")


    <script>
        $(document).ready(function () {
            $("#ExpenseEntries").DataTable();
        });

    </script>
}*@