@model MusicCityAnimalRescueManagement.Models.AccountEntries.IncomeEntry

@{
    ViewBag.Title = "DeleteIncome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteIncome</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IncomeEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StrAccountType.AccountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrAccountType.AccountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdoptionsDecimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionsDecimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCatAdoptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCatAdoptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumDogAdoptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumDogAdoptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdoptionsComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionsComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationsDecimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationsDecimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationsComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationsComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscellaneousIncomeDecimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscellaneousIncomeDecimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscellaneousIncomeComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscellaneousIncomeComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Entries")
        </div>
    }
</div>
