@Styles.Render("~/Content/css")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("MCAR Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Accounting", "Entries", "Accounting")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="True">Animals <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("List", "Index", "Animals")</li>
                        <li>@Html.ActionLink("Intake", "Create", "Animals")</li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="True">Vetting <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("List", "Index", "Vettings")</li>
                        <li>@Html.ActionLink("Medications", "Index", "Medications")</li>

                    </ul>
                </li>                <li>@Html.ActionLink("Fosters/Locations", "Index", "Locations")</li>
                <li>@Html.ActionLink("Equipment", "Index", "Equipment")</li>
                

                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

