@model MusicCityAnimalRescueManagement.Models.AccountEntries.IncomeEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IncomeEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StrAccountType.AccountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrAccountType.AccountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdoptionsDecimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionsDecimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCatAdoptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCatAdoptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumDogAdoptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumDogAdoptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdoptionsComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionsComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationsDecimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationsDecimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationsComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationsComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscellaneousIncomeDecimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscellaneousIncomeDecimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscellaneousIncomeComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscellaneousIncomeComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
